!!!5
%html
  %head
    %meta{charset: 'utf-8'}
  %body
    = render 'posts/header'
    .main
      .main__left-content
        = image_tag 'qiita_profile_icon.png', class: 'main__left-content__account-image'
        .main__left-content__account-detail
          .main__left-content__account-detail__name
            = current_user.name
          %hr
          .main__left-content__account-detail__edit
            %a{ href: '/' }
              %i.fa.fa-cog
              プロフィールを編集する
          %hr
          .main__left-content__account-detail__keyword
            %i.fa.fa-fw.fa-tags
            %span 登録キーワード
            = link_to '(編集する)', keywords_path
            .main__left-content__account-detail__follow__number
              = current_user.keywords.length
          .main__left-content__account-detail__keyword-list
            - if current_user.keywords.present?
              - current_user.keywords.each do |keyword|
                = keyword.word
            - else
              %span 登録しているキーワードはありません
      .main__right-content
        .main__right-content__graph
        .main__right-content__big-tag
          %a{ href: '/', class: 'main__right-content__big-tag__items' }
            .main__right-content__big-tag__items__number 0
            %p items
          %a{ href: '/', class: 'main__right-content__big-tag__contribution' }
            .main__right-content__big-tag__contribution__number 0
            %p contribution
          %a{ href: '/', class: 'main__right-content__big-tag__followers' }
            .main__right-content__big-tag__followers__number 0
            %p followers
        %ul.main__right-content__small-tag-title
          %li.main__right-content__small-tag-title__recent-post
            %a{ href: '/' }
              最近の投稿
              %span 0
          %li.main__right-content__small-tag-title__pressed-like
            %a{ href: '/' }
              いいねした投稿
          %li.main__right-content__small-tag-title__limitted-share
            %a{ href: '/' }
              限定共有投稿
          %li.main__right-content__small-tag-title__comment
            %a{ href: '/' }
              コメント
        %hr
        .main__right-content__small-tag-detail
          .main__right-content__small-tag-detail__text
            = current_user.name
            さんの投稿はありません。

    = render 'posts/footer'
