<div class='login-main'>
  <div class='login-main__left'>
    <%= link_to image_tag('qiita_logo.png'), root_path, class: 'login-main__left__qiita-logo' %>
    <p>Qiitaは、プログラマのための<br>
    技術情報共有サービスです。</p>
  </div>
  <div class='login-main__right'>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, value: 'sample@gmail.com', autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, value: 'sample', autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
