%hr
%footer
  .left-content
    .left-content--black
      = link_to '© 2011-2017 IncrementsInc.', root_path
    .left-content--blue
      = link_to '利用規約', root_path
      = link_to 'プライバシー', root_path
      = link_to 'ヘルプ', root_path
      = link_to 'お問い合わせ', root_path
  .right-content
    = link_to 'Qiitaとは', root_path
    = link_to 'ユーザー', root_path
    = link_to 'タグ', root_path
    = link_to 'ブログ', root_path
    = link_to 'API', root_path
    = link_to 'Team', root_path
    = link_to 'Kobito', root_path
    %a{ href: '/' }
      %i.fa.fa-heart
      ご意見
      %i.fa.fa-caret-down
