%header
  .left-content
    = link_to image_tag('qiita_logo.png'), root_path, class: 'left-content__qiita-logo'
    = form_tag posts_search_post_path, method: :get do
      %input{ class: 'left-content__input', name: 'keyword', placeholder: 'キーワードを入力' }
    .left-content__news
      .left-content__news__title
        %p news
      .left-content__news__text
        ストックの他にいいねが追加されました。
  .right-content
    = link_to image_tag('qiita_profile_icon.png', size: '35x35'), root_path, class: 'right-content__profile'
    %ul{ class: 'user_dropdown' }
      %li
        %a{ href: "/users/#{ current_user.id }", class: 'user_dropdown__my-page' }
          %i{ class: 'fa fa-fw fa-user' }
          マイページ
      %li
        %a{ href: "/", class: 'user_dropdown__setting' }
          %i{ class: 'fa fa-fw fa-cog' }
          設定
      %li
        %a{ href: "/", class: 'user_dropdown__help' }
          %i{ class: 'fa fa-fw fa-question' }
          ヘルプ
      %li
        %a(href="/users/sign_out" class='user_dropdown__logout' data-method='delete' )
          %i{ class: 'fa fa-fw fa-sign-out' }
          ログアウト
    = link_to '0', root_path, class: 'right-content__notice'
    = link_to 'ストック一覧', root_path, class: 'right-content__stock'
    .right-content__post
      %a{ href: '/posts/new' }
        %i.right-content__post__input__icon.fa.fa-pencil-square-o
        投稿する
        %i.right-content__post__input__icon.fa.fa-caret-down

