.main__side
  .main__side__advertisement
    = image_tag 'advertisement.png', size: '250x250'
  .main__side__account
    .main__side__account__left
    = link_to image_tag('qiita_profile_icon.png', size: '65x65'), "/users/#{ current_user.id }", class: 'main__side__account__left'
    .main__side__account__right
      = link_to current_user.name, "/users/#{ current_user.id }", class: 'main__side__account__right__name'
      .main__side__account__right__action
        %span
          = current_user.posts.length
          投稿
        %span 0 contribution
  .main__side__feed
