!!!5
%html
  %head
    %meta{ charset: 'utf-8' }
  %body
    = form_for @post do|f|
      .dody
        = render 'header'
        .main-new
          .main-new__title
            = f.text_field :title, placeholder: 'タイトル', class: 'main-new__title__input'
            .main-new__title__status
              未投稿
          .main-new__tag
            %input{ placeholder: 'プログラミング技術に関連するタグをスペース区切りで５つまで入力（例:Ruby Rails:4.2.0）', class: 'main-new__tag__input' }
          .main-new__body
            .main-new__body__left
              .main-new__body__left__tag
                .main-new__body__left__tag__left
                  .main-new__body__left__tag__left__body
                    本文
                  .main-new__body__left__tag__left__good-post
                    %i.fa.fa-book
                    %a{ href: '/' }
                      良い記事を書くには
                .main-new__body__left__tag__right
                  %i.fa.fa-question-circle.fa-2x
                  %i.fa.fa-smile-o.fa-2x
                  = f.label :image, { class: "fa fa-photo fa-2x", for: "file_field" } do
                    = f.file_field :image, style: "display: none;", id: "file_field"
              .main-new__body__left__text
                = f.text_area :body, placeholder: 'プログラミングの知識をmarkdown記法で書いて共有しよう', class: 'main-new__body__left__text__input'
          .main-new__body__right
            .main-new__body__right__tag
              %a{ href: '/' }
                %i.fa.fa-angle-left
              %a{ href: '/' }
                %i.fa.fa-angle-right
              %a{ href: '/posts/preview' }
                プレビュー
            .main-new__body__right__cheetsheet
              .main-new__body__right__cheetsheet__markdown
              .main-new__body__right__cheetsheet__image
              .main-new__body__right__cheetsheet__title
                %i.fa.fa-question-circle
                Markdown記法のヒント
              .main-new__body__right__cheetsheet__example
                .main-new__body__right__cheetsheet__example__left
                  .main-new__body__right__cheetsheet__example__left__title
                    見出し
                  .main-new__body__right__cheetsheet__example__left__content
                    %p # 見出し 1
                    %p ## 見出し 2
                    %p ### 見出し 3

                  .main-new__body__right__cheetsheet__example__left__title
                    %p ライン
                  .main-new__body__right__cheetsheet__example__left__content
                    %p - - -

                  .main-new__body__right__cheetsheet__example__left__title
                    %p コード
                  .main-new__body__right__cheetsheet__example__left__content
                    %p ```
                    %p コード
                    %p ```
                .main-new__body__right__cheetsheet__example__right
                  .main-new__body__right__cheetsheet__example__right__title
                    %p リスト
                  .main-new__body__right__cheetsheet__example__right__content
                    %p - リスト 1
                    %p - リスト 2
                    %p - リスト 3
                    %p スペースを入れると色が変わります。
                  .main-new__body__right__cheetsheet__example__right__title
                    %p リスト②
                  .main-new__body__right__cheetsheet__example__right__content
                    %p * リスト 1
                    %p * リスト 2
                    %p * リスト 3
                    %p スペースを入れると色が変わります。

                  .main-new__body__right__cheetsheet__example__right__content
                    %p 1. 番号付きリスト 1
                    %p 2. 番号付きリスト 2
                    %p 3. 番号付きリスト 3
        .footer-new
          .btn
            %i.fa.fa-upload
            = f.submit 'Qiitaに投稿'
            %i.fa.fa-caret-up
