!!!5
%html
  %head
    %meta{charset: 'utf-8'}
  %body
    = render 'header'
    .main
      .main__header
        %h2.main__header__title
          プログラミングの知識を共有しよう。
        = link_to 'ノウハウ・Tipsを投稿する', root_path, class: 'main__header__btn'
      .main__body
        .main__body__tag
          = link_to '全て', root_path, class: 'main__body__tag--feed--keyword'
          = link_to 'キーワード', '/posts/show_matching_keyword', class: 'main__body__tag--all-posts--keyword'
          = link_to '自分の投稿', root_path, class: 'main__body__tag--my-posts--keyword'
        .main__body__posts
        - @posts.each do |post|
          .main__body__posts__post
            = image_tag 'https://s3-ap-northeast-1.amazonaws.com/qiita-tag-image/a366fc34caa85747b6b377c761c983a9a99b4ddb/large.jpg?1489110713', class: 'main__body__posts__post__pg-lung-img', size: '30x30'
            %i.fa.fa-tag
            .main__body__posts__post__info
              .main__body__posts__post__info__text
                Railsに新しい投稿がありました
              .main__body__posts__post__info__good
                %i.fa.fa-thumbs-o-up
                  - if post.likes_count
                    = post.likes_count
                  - else
                    0
            = link_to post.title, post_path(post), class: 'main__body__posts__post__title'
          %hr
        / %a{ href: '/', class: 'main__body__posts__more' }
        /   .main__body__posts__more__btn
        /     もっと見る
        - if current_user.keywords
          %p キーワードにマッチする記事はありません
      .main__side
        .main__side__advertisement
          = image_tag 'advertisement.png', size: '250x250'
        .main__side__account
          .main__side__account__left
          = link_to image_tag('qiita_profile_icon.png', size: '65x65'), "/users/#{ current_user.id }", class: 'main__side__account__left'
          .main__side__account__right
            = link_to current_user.name, "/users/#{ current_user.id }", class: 'main__side__account__right__name'
            .main__side__account__right__action
              %span
                = current_user.posts.length
                投稿
              %span 0 contribution
        .main__side__feed
    = render 'footer'
